<phpunit     
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    cacheTokens="false"
    cacheResult="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
>
<testsuites>
  <testsuite name="Lara-Settings Test">
    <directory>./tests/</directory>
  </testsuite>
</testsuites>
</phpunit>